a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}
/***********************************************************************/
html {height:100%;}
html, body {width:100%; padding:0; margin:0;}
body { 	 
	color:#000;
	min-width:998px;
	background: url(../images/body-bg.jpg) center 0 repeat #1e1e1e;
	height:100%;
}
.bg {width:100%; height:100%;}
/***********************************************************************/
a {text-decoration:none; cursor:pointer;text-decoration:none; }
a:hover {text-decoration:none;}

.button {background:#353535; display:inline-block; font-size:20px; line-height:25px; color:#fff; font-weight:bold; font-family: 'Open Sans Condensed', sans-serif; padding:9px 30px 10px 30px;}
.button:hover {background:#000;}

.button-2 {background:#fff; display:inline-block; font-size:20px; line-height:25px; color:#353535; font-weight:bold; font-family: 'Open Sans Condensed', sans-serif; padding:9px 30px 10px 30px;}
.button-2:hover {background:#000; color:#fff;}

.link {color:; text-transform:uppercase; }
.link:hover {text-decoration:underline; }

.clr-1 {color:#ffffff;}
 
 h2 { font-size:35px; line-height:42px; color:#353535; font-weight:bold; font-family: 'Open Sans Condensed', sans-serif;}
/***********************************************************************/
#content { width:960px; margin:0 auto; position:relative;}
.sub-page {background:#e2e2e4; overflow:hidden;}
.sub-page-left {border:#fff 0px solid; border-bottom:none; float:left; width:610px; padding:30px 0px 0px 80px;}
.sub-page-right {background:#1c1c1c; float:right; width:210px; padding:30px 0px 40px 5px; color:#9f9fa6;}
.sub-page-right h2 {color:#e2e2e4;}
.box-9 .text-2 {margin-bottom: 0px;}
.box-9 ul {margin:8px 0 0px 0;}
/**********************form**********************/
.map {width:190px; height:247px; margin-top:13px; }
.map iframe {width:190px; height:247px;}
dl.adr { margin-top:13px; text-transform:uppercase;}
dl.adr dt {}
dl.adr dd span { width:75px; display:block; float:left;}
dl.adr dd {font-size: 13px !important;white-space:nowrap;}
dl.adr dd a {margin-left:3px !important;  font-size: 10px !important;}
dl.adr dd a:hover {}
#form { margin: 13px 0 0px 0px; width:610px; }
#form input {border:#fff 1px solid; background:#fff; font-size:15px; font-family:Arial, Helvetica, sans-serif; color:#000; text-transform:uppercase; padding:7px 10px 7px 18px;outline: medium none;width: 590px; height:25px; float:left;}
#form textarea {border:#fff 1px solid; background:#fff; font-size:15px; font-family:Arial, Helvetica, sans-serif; color:#000; text-transform:uppercase; height:173px;outline: medium none;overflow: auto; padding: 7px 0px 0px 18px;width:590px;resize:none;margin:0px 0 0 0;float:left;}
#form label {position:relative;display: block; min-height:35px; overflow:hidden;}
.btns {text-align:right; overflow:hidden; width:610px; padding-top:10px; }
.btns a {display:inline-block; margin-left:10px; margin-right: 20px}

a {text-decoration:none; cursor:pointer;text-decoration:none; }
a:hover {text-decoration:none;}

.button {background:#353535; display:inline-block; font-size:20px; line-height:25px; color:#fff; font-weight:bold; font-family: 'Open Sans Condensed', sans-serif; padding:9px 30px 10px 30px;}
.button:hover {background:#000;}

.button-2 {background:#fff; display:inline-block; font-size:20px; line-height:25px; color:#353535; font-weight:bold; font-family: 'Open Sans Condensed', sans-serif; padding:9px 30px 10px 30px;}
.button-2:hover {background:#000; color:#fff;}
footer{width:960px; overflow:hidden; margin:0 auto; padding:33px 0px 33px 0; background:black; color:red !important;text-align: center; }